:root {
    /* Palate */
    --clr1: #dedede;
    --clr2: #bcbbbb;
    --clr3: #606060;
    --clr4:#4f4e4e;
    --clr5: #212121;
    --clr6:#818181;
    --clr7:#69f54d;

/* Layout */
--layout-padding: 260px;








}